<script>
  $(function(){
    //make a variable to keep track of data coming from firebase
    var data= [];
  	//create new connection to firebase
	var ref= new Firebase('https://data-application1.firebaseio.com/activities');
    //check function for first name
    var checkFirst = function () {
      var first = $("#first").val();
      if(!first) {
        // show the first error
        $("#form-error").prop('hidden', true)
        return false;
      }
      else {
        //hide the first error
        $("#form-error").prop('hidden', false)
        return true;
      }
    }
  // register function
  $('#register').submit(function(event){
    var $form = $(this);
    var email = $("#email").val();
    
    if(!email) {
      // show the email error
    }
    if(first && email) {
      $form.find('#registerButton').prop('disabled', true);
    }
    //hide the first / email errors on input
    
    
    //get the value of the login email
	
    
    //get the value of the password
    
    
     
    console.log(login, password);
    register(login, password);
    
    return false;
  })  
</script>

<form id="register">
  <input type="text" placeholder="First Name" id="first">
  <input type="email" placeholder="Email" id="email">
  <p id="form-error" hidden>You must enter a 
  <input id="registerButton" name="registerButton" type="submit" value="Register">
</form>
