<h2>Want to keep up to date with the latest in UXDX?</h2>
<form id="register" onsumbit="event.preventDefault(); registerUser();">
  <input type="text" placeholder="First Name" id="first">
  <input type="email" placeholder="Email" id="email">
  <p id="form-invalid" hidden>You must enter a First Name and an Email address</p>
  <p id="form-invalid" hidden>Error submitting the form - please try again</p>
  <button id="registerButton" name="registerButton" type="submit">Register</button>
</form>
<div id="form-success" hidden>
  <h2>Thank you.</h2> 
  <p>We'll keep you up to date with new articles</p>
</div>
