<script>
  $(function(){
  	//create new connection to firebase
	var ref= firebase.database.ref('conferences/UXDX/locations/Dublin/2017/emails/attendees');
    //check function for first name
    var checkFirst = function () {
      var first = $("#first").val();
      if(!first) {
        // show the first error
        $("#form-invalid").prop('hidden', true)
        return false;
      }
      else {
        //hide the first error
        $("#form-invalid").prop('hidden', false)
        return true;
      }
    }
    //check function for first name
    var checkEmail = function () {
      var emailRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]‌​{0,61}[a-zA-Z0-9])?(‌​?:\.[a-zA-Z0-9](?:[a‌​-zA-Z0-9-]{0,61}[a-z‌​A-Z0-9])?)*$/
      var email = $("#email").val();
      if(!email || email.match(emailRegex)) {
        // show the first error
        $("#form-invalid").prop('hidden', true)
        return false;
      }
      else {
        //hide the first error
        $("#form-invalid").prop('hidden', false)
        return true;
      }
    }
    // register function
    $('#register').submit(function(event){
      var email = $("#email").val();
      var first = $("#first").val();
      $("#form-error").prop('hidden', true)
      var $form = $(this);
	  // check form details
      if(checkFirst() && checkEmail()) {
        ref.set({
        	firstName: first,
          	email: email
        }, function(err){
          if(err){
        	$("#form-error").prop('hidden', false)
      		return;
          }
          else { 
            $form.prop('hidden', true);
            $("form-success").prop('hidden', false);
      		return;
          }
        });
      }
    })
  })
</script>

<form id="register">
  <input type="text" placeholder="First Name" id="first">
  <input type="email" placeholder="Email" id="email">
  <p id="form-invalid" hidden>You must enter a First Name and an Email address</p>
  <p id="form-invalid" hidden>Error submitting the form - please try again</p>
  <input id="registerButton" name="registerButton" type="submit" value="Register">
</form>
<div id="form-success" hidden>
  <h2>Thank you.</h2> 
  <p>We'll keep you up to date with new articles</p>
</div>
