<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
     <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-database.js"></script>

    <!-- Leave out Storage, Auth and Messaging -->
    <!-- 
	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-messaging.js"></script>
	 -->

    <script>
      var config = {
    	apiKey: "AIzaSyBP18rY7_dco4hdNLZiSlM612i2O2kwaak",
        databaseURL: "https://socmov-45ba2.firebaseio.com",
      };
      firebase.initializeApp(config);

      //create new connection to firebase
      var ref= firebase.database().ref('conferences/UXDX/locations/Dublin/2017/emails/attendees');
      
      //check function for first name
      var checkFirst = function () {
        var first = document.getElementById("first").value;
        if(!first) {
          // show the first error
          document.getElementById("form-invalid").setAttribute('hidden', true);
          return false;
        }
        else {
          //hide the first error
          document.getElementById("form-invalid").setAttribute('hidden', false);
          return true;
        }
      }
      
      //check function for email
      var checkEmail = function () {
        var emailRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]‌​{0,61}[a-zA-Z0-9])?(‌​?:\.[a-zA-Z0-9](?:[a‌​-zA-Z0-9-]{0,61}[a-z‌​A-Z0-9])?)*$/
        var email = document.getElementById("email").value;
        if(!email || email.match(emailRegex)) {
          // show the first error
          document.getElementById("form-invalid").setAttribute('hidden', true);
          return false;
        }
        else {
          //hide the first error
          document.getElementById("form-invalid").setAttribute('hidden', false);
          return true;
        }
      }
      
      
      // register function
      var registerUser = function () {
        console.log('called');
        var email = document.getElementById("email").value;
        var first = document.getElementById("first").value;
        document.getElementById("form-error").setAttribute('hidden', true);
        // check form details
        if(checkFirst() && checkEmail()) {
          ref.set({
              firstName: first,
              email: email
          }, function(err){
            if(err){
              document.getElementById("form-error").setAttribute('hidden', false);
              return;
            }
            else { 
              document.getElementById("register").setAttribute('hidden', true);
              document.getElementById("form-success").setAttribute('hidden', false);
              return;
            }
          });
        }
      };
    </script>

  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="https://uxdxconf.com" class="highlight-link">UXDX Conf</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="register-section">
        <div class="container">
          {% include register.html %}
        </div>
      </div>
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
