---
layout: default
published: true
---

<article class="post">
  {% if page.banner != null %}
  	<img src="{{ site.baseurl }}/images/{{page.banner}}" class="page-banner">
  {% endif %}
  <h1>{{ page.title }}</h1>
  <div class="date">
    {% if page.author != null %}
    	{{page.author}} |
    {% endif %}
    {{ page.date | date: "%e %B %Y" }}
  </div>
  
  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
<!-- Go to www.addthis.com/dashboard to customize your tools --> 
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-574dacce12e60e27"></script> 
